{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<h2>Connexion</h2>
<form method="POST" action="{{ url_for('auth.connexion') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}
        {{ form.email(required=True, placeholder="exemple@domaine.com") }}
    </div>

    <div>
        {{ form.password.label }}
        {{ form.password(required=True, placeholder="••••••••") }}
    </div>

    <div>
        {{ form.submit() }}
    </div>
</form>
<p>Pas encore de compte ?{# <a href="{{ url_for('auth.inscription') }}">Inscrivez-vous ici</a> #} .</p>
{% endblock %}
