<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connexion - Admin</title>
    <link rel="stylesheet" href="/static/connexion.css">
</head>
<body>
    
    <main>
        <h1>Verification d'identité</h1>
        <p>
            Un code de vérification a été envoyé à  <strong>ameliedupont@exemple.com</strong>. Veuillez le saisir ci-dessous pour continuer.
        </p>
        <form action="" method="post">
            <label for="code">Code de vérification :</label>
            <input type="text" id="code" name="code" required>
            <br>
            <input type="submit" value="Vérifier" class="button-formulaire">
        </form>
    </main>
    
    
</body>
</html>